body {
    background-color:rgb(41, 40, 40);
    color:ghostwhite;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    
}

h1 {
    text-align: center;
}

div {
    background-color: grey;
    color: black;
}